


polygon {
	// opacity: .1;
}



.numbers {
	transform-origin: center;
	
	animation-iteration-count: infinite;
	animation-direction: linear;
	animation-timing-function: linear;
	animation-duration: 3s;

	.clone {
		//display: none;
		text {
			// stroke: red;
		}
	}
}


@keyframes move1 {
	0% {
		transform: translate(0px,0px);
	}
	100% {
		transform: translate(-164px,102px);
	}
}
.numbers1 {
	animation-name: move1;
	.clone{
		transform: translate(164px,-102px);
	}
}


@keyframes move2 {
	0% {
		transform: translate(0px,0px);
	}
	100% {
		
		transform: translate(163px,97px);
	}
}
.numbers2 {
	animation-name: move2;
	.clone {
		transform: translate(-163px,-97px);
	}
}


@keyframes move3 {
	0% {
		transform: translate(0px, 0px);
	}
	100% {
		transform: translate(-164px, 102px);
	}
}
.numbers3 {
	animation-name: move3;
	.clone {
		transform: translate(164px,-102px);
	}
}




@keyframes move4 {
	0% {
		transform: translate(0px, 0px);
	}
	100% {
		transform: translate(367px,0);
	}
}
.numbers4 {
	animation-name: move4;
	.clone {
		transform: translate(-367px,0);
	}
}










@keyframes lines_right {
	0% {
		opacity: 0;
		transform: translateX(0px) translateY(0px) scale(.4);
	}

	50% {
		opacity: 1;
	}

	100% {
		opacity: 0;
		transform: translateX(30px) translateY(-10px) scale(3);
	}
}

@keyframes lines_left {
	0% {
		opacity: 0;
		transform: translateX(0px) translateY(0px) scale(.4);
	}

	50% {
		opacity: 1;
	}

	100% {
		opacity: 0;
		transform: translateX(-30px) translateY(10px) scale(3);
	}
}

.lines path {
	animation-delay: 0s;
	transform-origin: center;
	transform-box: fill-box;
	opacity: 0;
	transform: translateX(0px) translateY(0px) scale(.4);
}

.lines1 path {
	animation: lines_right 2s linear infinite;
}

.lines2 path {
	animation: lines_left 2s linear infinite;
}

.lines path.line2 {
	animation-delay: .333s;
}

.lines path.line3 {
	animation-delay: .666s;
}

.lines path.line4 {
	animation-delay: .999s;
}

.lines path.line5 {
	animation-delay: 1.333s;
}

.lines path.line6 {
	animation-delay: 1.666s;
}



