//Colors
// @import 'colors';


//Fonts
$Inter : "Inter";

$spacer: 1rem;
$spacers: (
				0: 0,
				1: calc($spacer / 4),
				2: calc($spacer / 2),
				3: calc($spacer),
				4: calc($spacer * 1.5),
				5: calc($spacer * 2),
				6: calc($spacer * 2.5),
				7: calc($spacer * 3)
);

$negative-spacers: null;

$grid-columns:      12;
$grid-gutter-width: 72px;

$grid-breakpoints: (
  // Extra small screen / phone
  xs: 0,
  // Small screen / phone
  sm: 576px,
  // Medium screen / tablet
  md: 768px,
  // Large screen / desktop
  lg: 992px,
  // Extra large screen / wide desktop
  xl: 1280px,

  //xxl: 1400px,
);


$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1270px,
  //xxl: 1340px
);

$min-contrast-ratio: 2.5;

@import "../../node_modules/bootstrap/scss/functions";

$btn-close-padding-x:0;
$btn-close-bg:none;
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";


@import 'bootstrap-grid-custom';
@import "../../node_modules/bootstrap/scss/containers";


@import 'mixins/functions';//миксин для осветления и затемнения кнопок



// @import 'swiper';
// @import 'swiper-navigation';


//@import "fonts";

@import 'clean';
//@import 'typography';
@import 'utilites';
//@import 'helpers';
//@import 'components';
@import 'global';

